<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  
  <form action="/deleteData" method="post">
    <table>
      <tr>
        <td>Name: <input type="text" name="name" value="<%=data.name%>"></td>
      </tr>
      <tr>
        <td>Age: <input type="text" name="age" value="<%=data.age%>"></td> 
      </tr>
    </table><br><br>
    <input type="hidden" name="id" value="<%=data._id%>" >
    <input type="submit" value="delete">
  </form> 
</body>
</html>