<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>

<body>
  <table>
    <tr>
      <td>Id: <%=data._id%> </td>
    </tr>
    <tr>
      <td>Name: <%=data.name%> </td>
    </tr>
    <tr>
      <td>Age: <%=data.age%> </td>
    </tr>
  </table>
</body>

</html>